.box{
    width: 800px;
    height: 800px;
    border: 2px solid black;
  }
  
  .one-line{
    font-size: 0px;
    width: 800px;
    height: 100px;
  }
  
  .white-box{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: white;
  }
  
  .black-box{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: black;
  }

  .black-pawn{
    background-image: url("/데일리+실습_web_02_4_P/black_pawn.png");
    background-size: cover;
  }

  .white-king{
    background-image: url("/데일리+실습_web_02_4_P/white_king.png");
    background-size: cover;
  }

  .white-queen{
    background-image: url("/데일리+실습_web_02_4_P/white_queen.png");
    background-size: cover;
  }

  .white-rook{
    background-image: url("/데일리+실습_web_02_4_P/white_rook.png");
    background-size: cover;
  }